<h1>Update Songs and Artists</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
    <input type="hidden" name="_method" value="patch">

    <label>Artist Name:</label><br>
    <input type="text" name="Artist Name" id="artist_name" value="<%= @song.artist.name %>"><br>

    <label>Song Name:</label><br>
    <input type="text" name="Name" value="<%= @song.name %>"><br>

    <label> Genres </label>

  <% @genres.each do |genre| %>
    <label> <%= genre.name %> </label>
    <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"
        <%= 'checked' if @song.genres.include?(genre) %>>
    <% end %><br>

    <input type="submit" value="Save">
</form>